*.pyc
env/
*~
*.bak
*.enc
*.sgn
.requirements_satisfied
etc/nginx/site-available/nginx.rules
etc/tftpd-hpa/tftpd.rules
etc/certs/*.pem
data/settings/*.cnf.xml
data/settings/*.tlv
data/settings/authorized_keys
data/settings/*.jar
data/settings/*.json
