/* Global CSS by Joe NguyenLe 06.27.2000 */
body {font-family: Arial, Helvetica, sans-serif; font-size: 13px; color: Black      } 
a:link {color: #6666CC; text-decoration: none} 
a:active {color: #000000} 
/* a:visited {color: #993399; text-decoration: none} */
a:visited {color: #6666CC; text-decoration: none}
a:hover {color: Red; text-decoration : none;  } 

td {font-family: Arial, Helvetica, sans-serif; font-size: 8pt; color: Black} 
li {color: Black;} 
ul {color: Black; list-style-type: square} 
ol {color: Black}
 
.mytext {font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 11px; color: #666699} 
a.mytext:link {color: #333333; text-decoration: none} 
a.mytext:visited {color: #666666; text-decoration: none} 
a.mytext:active {color: #333333; text-decoration: none} 
a.mytext:hover {color: #999933; text-decoration: none}

.toolBar {font-family:  Verdana, Arial, Helvetica, sans-serif; font-size: 8pt; color: #336666;}
a.toolBar:link {color: #336666; text-decoration: none} 
a.toolBar:visited {color: #336666; text-decoration: none} 
a.toolBar:active {color: #336666; text-decoration: none} 
a.toolBar:hover {color: Red; text-decoration: none}

 
.copyright {font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 10px; color: #999999} 

.BannerTitle {font-family: Times, sans-serif; font-size: 14pt; color: black;  font-weight : bold;  letter-spacing : 2px;  }

.pageTitle {font-family: Geneva, Arial, Helvetica, sans-serif; font-size: 9pt; color: Black;  font-weight : bold;  letter-spacing : 2px;  }

H1 {font-family: Geneva, Arial, Helvetica, sans-serif; font-size: 9pt; color: Black;  font-weight : bold;  letter-spacing : 2px;  }

.pageSubTitle {font-family: Geneva, Arial, Helvetica, sans-serif; font-size: 8pt; color: Black;  font-weight : bold;  letter-spacing : 2px;  }

.disTxt {color: #999999}

.notice {font-family: Arial, Helvetica, sans-serif; font-size: 9pt; color: #999999; font-style: normal; clip:   rect(   ); text-indent: .15in} 

.mode {font-family: Geneva, Arial, Helvetica, sans-serif; font-size: 8pt; color: White;  font-weight : bold;  letter-spacing : 1px;  }

.btn {font-family: Arial, Helvetica, sans-serif; font-size: 8pt; color: #6666CC; font-weight : bold;} 
a.btn:link {color: #6666CC; text-decoration: none} 
a.btn:visited {color: #6666CC; text-decoration: none} 
a.btn:active {color: #6666CC; text-decoration: none} 
a.btn:hover {color: red; text-decoration : underline;}

.diaTxt {font-family: Arial, Helvetica, sans-serif; font-size: 8pt; color: Black} 

.tree {font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 11px; color: #666699} 
a.tree:link {color: #333333; text-decoration: none} 
a.tree:visited {color: #666666; text-decoration: none} 
a.tree:active {color: #333333; text-decoration: none} 
a.tree:hover {color: #999933; text-decoration: none}


.table {font-family: Arial, Helvetica, sans-serif; font-size: 8pt;}
a.table:link {color: #6633CC; text-decoration: none} 
a.table:active {color: #6633CC; text-decoration: none} 
a.table:visited {color: #6666CC; text-decoration: none} 
a.table:hover {color: Red; text-decoration: none}

.modDate {font-family: Arial, Helvetica, sans-serif; font-size: 8pt; color:#336666}
.code {  font-family: "Courier New", Courier, mono; font-size: 9pt; color: #990000}

.indHeader {font-family: Arial, Helvetica, sans-serif; font-size: 18px;  color: Black} 
.indEntry {font-family: Arial, Helvetica, sans-serif; font-size: 13px; } 
a.indEntry:hover {color: Red; text-decoration: none}
.alpha {font-family: Arial, Helvetica, sans-serif; font-size: 12px; color: #6666CC; font-weight : bold}
a.alpha:hover {color: Red; text-decoration: none}
.alpha2 {font-family: Arial, Helvetica, sans-serif; font-size: 12px; color: black; font-weight : bold; text-decoration: none}

	.menuItem {position:absolute; visibility:hidden; left:0px;}
	.menuItem BR { clear: both; } 
	.node { font-family: Arial, Helvetica, sans-serif;
                font-size: 11px; color: #6666CC;
                text-decoration: none;
                font-style: normal;
                font-weight: normal
              }
	.node A:link { color: #6666CC; text-decoration: none; }
	.node A:visited { color: #6666CC; text-decoration: none; }
	.node A:active { color: #6666CC; text-decoration: none; }
	.node A:hover { color: red; text-decoration: none; }
	.leaf { font-family: Arial, Helvetica, sans-serif;
                font-size: 11px; color: #6666CC;
                text-decoration: none;
                font-style: normal;
                font-weight: normal
              }
	.leaf A:link { color: #6666CC;; text-decoration: none; }
	.leaf A:visited { color: #6666CC;; text-decoration: none; }
	.leaf A:active { color: #6666CC; text-decoration: none; }
	.leaf A:hover { color: red; text-decoration: none; }